<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emt_animation_java.www.mapper.mapper">
    <!--sea_data中有用的数据
    v_id//作品编号
    v_name//作品名称
    v_state//作品状态（集数）
    v_pic//作品封面
    v_actor//声优
    v_publishyear//上映时间（年份）
    v_publisharea//上映地区（制作国）
    v_addtime//添加时间（时间戳）
    v_note//更新状态
    v_letter//作品开头字母
    v_director//制作人
    v_lang//语种（作品语类）
    -->
    <!--sql片段-->
    <!--
    <sql id="videoData">
        v_id,v_name,v_state,v_pic,v_actor,v_publishyear,v_publisharea,v_addtime,v_note,v_letter,v_director,v_lang
    </sql>
    -->

    <!--feifei-->
    <!--ff_vod中有用的字段
     vod_id;//视频id号             vod_name;//视频名称 vod_title;//对标note(当前番剧状态)   vod_actor;//配音
vod_director;//编剧导演     vod_content;//番剧简介      vod_pic;//封面
vod_area;//地区，对标v_publicarea        vod_language;//语言类别     vod_year;//上映年份
vod_addtime;//时间戳       vod_url;//播放地址      vod_letter;//开头字母大小写
    -->
    <sql id="ff">
        vod_id,vod_name,vod_title,vod_actor,vod_content,vod_pic,vod_area,vod_language,vod_year,vod_addtime,vod_url,vod_letter
    </sql>
    <!--    获取所有数据-->
    <select id="getAll" resultType="com.emt_animation_java.www.Pojo.ff_vod">
        select
        <include refid="ff"/>
        from ff_vod
    </select>
    <!--    获取所有数据的总额-->
    <select id="totalVideo" resultType="java.lang.Integer">
        select count(*)
        from ff_vod
    </select>

    <!--    随机推荐-->
    <select id="randomVideo" resultType="com.emt_animation_java.www.Pojo.ff_vod">
        select
        <include refid="ff"/>
        from ff_vod limit #{start},10
    </select>
    <!--    根据名称获取模糊数据-->
    <select id="selectVideoByName" resultType="com.emt_animation_java.www.Pojo.ff_vod">
        select
        <include refid="ff"/>
        from ff_vod where vod_name like concat('%',#{name},'%')
    </select>
    <!--    每周更新榜单-->
    <select id="weekNew" resultType="com.emt_animation_java.www.Pojo.ff_vod">
        select
        <include refid="ff"/>
        from ff_vod where
        (vod_addtime BETWEEN #{beforeDate1} AND #{beforeDate2} OR vod_addtime BETWEEN #{nowDate1} AND #{nowDate2})
        AND vod_area like '%日%' AND (vod_year=#{beforeyear} or vod_year=#{year});
    </select>
    <!--    分类大全-->
    <!--    获取指定条件的数据-->
    <select id="selectVideo" resultType="com.emt_animation_java.www.Pojo.ff_vod">
        select
        <include refid="ff"/>
        from ff_vod
        <where>
            1=1
            <choose>
                <when test="lang != null &amp;&amp; lang!=''">
                    and
                    <choose>
                        <when test="lang == '其他'">
                            vod_language in (select vod_language from ff_vod where vod_language not in
                            ('汉语','国语','日语','汉语普通话','普通话','闽南语'))
                        </when>
                        <when test="lang == '中文'">
                            vod_language in (select vod_language from ff_vod where vod_language in ('汉语','国语','汉语普通话','普通话','闽南语'))
                        </when>
                        <otherwise>
                            vod_language = #{lang}
                        </otherwise>
                    </choose>
                </when>
            </choose>
            <choose>
                <when test="publisharea != null &amp;&amp; publisharea!=''">
                    and
                    <choose>
                        <when test="publisharea == '中国'">
                            vod_area in (select vod_area from ff_vod where vod_area in
                            ('大陆','中国大陆','中国','国产','香港','台湾'))
                        </when>
                        <when test="publisharea == '欧美'">
                            vod_area in (select vod_area from ff_vod where vod_area not in
                            ('日本','大陆','中国大陆','中国','国产','香港','台湾','韩国'))
                        </when>
                        <when test="publisharea == '日韩'">
                            vod_area in (select vod_area from sea_data where vod_area in ('日本','韩国'))
                        </when>
                        <otherwise>

                        </otherwise>
                    </choose>
                </when>
            </choose>
            <choose>
                <when test="publishyear!=null &amp;&amp;  publishyear>0">
                    and
                    <choose>
                        <when test="before>0">
                            vod_year&lt;#{before}
                        </when>
                        <otherwise>
                            vod_year=#{publishyear}
                        </otherwise>
                    </choose>
                </when>
            </choose>
            <if test="letter!=null &amp;&amp; letter!=''">
                and vod_letter=#{letter}
            </if>
        </where>
        limit #{pageNum},20
    </select>
    <!--    获取指定条件的数据的总额-->
    <select id="selectVideoNum" resultType="integer">
        select count(*)
        from ff_vod
        <where>
            1=1
            <choose>
                <when test="lang != null &amp;&amp; lang!=''">
                    and
                    <choose>
                        <when test="lang == '其他'">
                            vod_language in (select vod_language from ff_vod where vod_language not in
                            ('汉语','国语','日语','汉语普通话','普通话','闽南语'))
                        </when>
                        <when test="lang == '中文'">
                            vod_language in (select vod_language from ff_vod where vod_language in ('汉语','国语','汉语普通话','普通话','闽南语'))
                        </when>
                        <otherwise>
                            vod_language = #{lang}
                        </otherwise>
                    </choose>
                </when>
            </choose>
            <choose>
                <when test="publisharea != null &amp;&amp; publisharea!=''">
                    and
                    <choose>
                        <when test="publisharea == '中国'">
                            vod_area in (select vod_area from ff_vod where vod_area in
                            ('大陆','中国大陆','中国','国产','香港','台湾'))
                        </when>
                        <when test="publisharea == '欧美'">
                            vod_area in (select vod_area from ff_vod where vod_area not in
                            ('日本','大陆','中国大陆','中国','国产','香港','台湾','韩国'))
                        </when>
                        <when test="publisharea == '日韩'">
                            vod_area in (select vod_area from sea_data where vod_area in ('日本','韩国'))
                        </when>
                        <otherwise>

                        </otherwise>
                    </choose>
                </when>
            </choose>
            <choose>
                <when test="publishyear!=null &amp;&amp;  publishyear>0">
                    and
                    <choose>
                        <when test="before>0">
                            vod_year&lt;#{before}
                        </when>
                        <otherwise>
                            vod_year=#{publishyear}
                        </otherwise>
                    </choose>
                </when>
            </choose>
            <if test="letter!=null &amp;&amp; letter!=''">
                and vod_letter=#{letter}
            </if>
        </where>
    </select>
    <!--    播放区-->
    <!--    根据id值来获取视频的基础数据 -->
    <select id="selectVideoById" resultType="com.emt_animation_java.www.Pojo.ff_vod">
        select
        <include refid="ff"/>
        from ff_vod where vod_id=#{vid}
    </select>
    <!--    根据id值来获取视频的详细介绍 -->
    <select id="selectContent" resultType="String">
        select vod_content
        from ff_vod
        where vod_id = #{vid}
    </select>

    <!--  根据id值来获取视频的播放数据  -->
    <select id="selectPlay" resultType="String">
        select vod_url
        from ff_vod
        where vod_id = #{vid}
    </select>

</mapper>